Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

BuyerRatio.csv

In [1]:
import pandas as pd
import scipy.stats as st

In [2]:
df=pd.read_csv('BuyerRatio.csv')
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
st.f_oneway(df.iloc[:,1],df.iloc[:,2],df.iloc[:,3],df.iloc[:,4])

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)